# server env file 

# Mongo DB 
MONGODB_URI="Your_Mongodb_connection uri"

# cloudinary  variables
CLOUDINARY_CLOUD_NAME="Your_cloudinary_cloud_name"
CLOUDINARY_API_KEY="your_cloudinary_api_key"
CLOUDINARY_API_SECRET="your_cloudinary_api_secret"